.main__button--read-more {
  border: none;
  width: 115px;
  height: 36px;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  background: #55C2D8;
  border-radius: 18px;
}

.main__button--play {
  border: none;
  width: 150px;
  height: 150px;
  background: #39C2D7;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 80px;
}

.main__logo {
  width: 63px;
  height: 63px;
}
/*# sourceMappingURL=button_logo_styles.css.map */