@import "variables.scss";
.footer{
    position: absolute;
    width: 100%;
    height: 165px;
    background: #464547;

}
    
    .footer__link{
        text-decoration: none;
        color: $footer_text_color;
    }

    .footer__information{
        margin-left: 140px;
        margin-top: 30px;
        font-family: $font_1;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: $footer_text_color;
    }

    .footer__logo{
        margin-top: 10px;
        font-family: $font_1;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 16px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }
