.footer {
  position: absolute;
  width: 100%;
  height: 165px;
  background: #464547;
}

.footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.footer__information {
  margin-left: 140px;
  margin-top: 30px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.4);
}

.footer__logo {
  margin-top: 10px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
/*# sourceMappingURL=footer_style.css.map */