body {
  margin: 0;
  padding: none;
}

.menu_icon {
  display: none;
}

.header {
  margin-top: 25px;
}

.main__headline-section {
  background-image: url("first.png");
  background-position: right 0;
  background-repeat: no-repeat;
  height: 950px;
  border-radius: 0px;
  background-size: cover;
}

.main__content-section {
  height: 720px;
}

.main__culture-section {
  background-image: url("second.png");
  height: 688px;
  background-repeat: no-repeat;
  border-radius: 0px;
  background-size: cover;
}
/*# sourceMappingURL=main_page_styles.css.map */