@import "variables.scss";
@media only screen and (max-width: 768px) {
    .nav{
        display: none;
    }
    .header{
        justify-content: space-between;
    }

    .menu-icon{
        display: inline-block;
        margin-right: 10px;
    }
    .menu-icon__bar{
        width: 35px;
        height: 5px;
        background-color: $color_white;
        margin: 6px 0;
    }  

    .main__headline--content,
    .main__subheader--content {
        text-align: left;
        margin-left: 10px;
    }
    .textbox{
        width: 90%;
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
    }
    .textbox p{
        width: 100%;
        text-align: left ;
    }
    .footer{
        height:250px;
    }

    .footer__information{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 0;
        line-height: 35px;
    }
    
}