@media only screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-icon {
    display: inline-block;
    margin-right: 10px;
  }
  .menu-icon__bar {
    width: 35px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 6px 0;
  }
  .main__headline--content,
  .main__subheader--content {
    text-align: left;
    margin-left: 10px;
  }
  .textbox {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .textbox p {
    width: 100%;
    text-align: left;
  }
  .footer {
    height: 250px;
  }
  .footer__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-left: 0;
    line-height: 35px;
  }
}
/*# sourceMappingURL=mobile_styles.css.map */