@import "transforms_and_transitions.scss";
@import "main_page_styles.scss";
@import "button_logo_styles.scss";
@import "footer_style.scss";
@import "text_styles.scss";
@import "mobile_styles.scss";
@import "variables.scss";


.header{
    position: absolute;
    display: flex;
    width: 100%;
}
.nav{
    z-index: 2;
    width: 50%;
}
.project{
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 30%;
}

.nav__link, .project__link, ul{
    list-style: none;
    text-decoration: none;
}
.nav__item :hover {
    text-decoration: underline;
}
.project{
    .nav__link, .project__link{
        font-family: $font_1;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color_white;
    }
}
.nav__link{
    font-family: $font_1;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: $color_white;
}
.nav__list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}









.main__textbox{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
}

.main__textbox p{
    width: 45%;
    text-align: justify;
}










.footer__information{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,65px);
}

.footer__logo{
    grid-column: 1;
    grid-row: 1;
}

.footer__adress{
    grid-column: 3;
    grid-row: 1;
}

.footer__email{
    grid-column: 3;
    grid-row: 2;
}

.footer__copyright{
    grid-column: 6/8;
    grid-row: 2;
}

/* aditional */
.main__headline-section, 
.main__background,
.main__content-section,
.main__culture-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}







