.main__logo {
  -webkit-transform: perspective(100px) rotate(0deg);
          transform: perspective(100px) rotate(0deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main__logo:hover {
  -webkit-transform: perspective(100px) rotateY(-180deg) scale(1.8);
          transform: perspective(100px) rotateY(-180deg) scale(1.8);
}

.main__button--read-more {
  -webkit-transform: perspective(100px) rotate(0deg);
          transform: perspective(100px) rotate(0deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main__button--read-more:hover {
  -webkit-transform: perspective(100px) rotateZ(10deg);
          transform: perspective(100px) rotateZ(10deg);
}

.main__button--play {
  -webkit-transform: perspective(100px);
          transform: perspective(100px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main__button--play:hover {
  color: #39C2D7;
  background: #FFFFFF;
  -webkit-transform: perspective(100px) scale(0.9);
          transform: perspective(100px) scale(0.9);
}

.main__background {
  position: absolute;
  background-position: right 0;
  width: 100%;
  height: 950px;
  margin: 0;
  background-size: cover;
}

.main__background--mooving-dots {
  background-image: url("Animation-image-block-2.svg");
  -webkit-animation: moveDots 5s ease-in infinite;
          animation: moveDots 5s ease-in infinite;
}

.main__background--glowing-dots {
  background-image: url("Animation-image-block-1.svg");
  -webkit-animation: glow 6s ease-in infinite;
          animation: glow 6s ease-in infinite;
}

@-webkit-keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveDots {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: translateX(-30px) translateY(-10px);
            transform: translateX(-30px) translateY(-10px);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}

@keyframes moveDots {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: translateX(-30px) translateY(-10px);
            transform: translateX(-30px) translateY(-10px);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}

body {
  margin: 0;
  padding: none;
}

.menu_icon {
  display: none;
}

.header {
  margin-top: 25px;
}

.main__headline-section {
  background-image: url("first.png");
  background-position: right 0;
  background-repeat: no-repeat;
  height: 950px;
  border-radius: 0px;
  background-size: cover;
}

.main__content-section {
  height: 720px;
}

.main__culture-section {
  background-image: url("second.png");
  height: 688px;
  background-repeat: no-repeat;
  border-radius: 0px;
  background-size: cover;
}

.main__button--read-more {
  border: none;
  width: 115px;
  height: 36px;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  background: #55C2D8;
  border-radius: 18px;
}

.main__button--play {
  border: none;
  width: 150px;
  height: 150px;
  background: #39C2D7;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 80px;
}

.main__logo {
  width: 63px;
  height: 63px;
}

.footer {
  position: absolute;
  width: 100%;
  height: 165px;
  background: #464547;
}

.footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.footer__information {
  margin-left: 140px;
  margin-top: 30px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.4);
}

.footer__logo {
  margin-top: 10px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.headlines {
  font-family: "Oswald";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}

.main__headline--content {
  color: #464547;
}

.subheader {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.main__subheader--content {
  color: #666666;
}

.textbox {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-icon {
    display: inline-block;
    margin-right: 10px;
  }
  .menu-icon__bar {
    width: 35px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 6px 0;
  }
  .main__headline--content,
  .main__subheader--content {
    text-align: left;
    margin-left: 10px;
  }
  .textbox {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .textbox p {
    width: 100%;
    text-align: left;
  }
  .footer {
    height: 250px;
  }
  .footer__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-left: 0;
    line-height: 35px;
  }
}

.header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.nav {
  z-index: 2;
  width: 50%;
}

.project {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  width: 30%;
}

.nav__link, .project__link, ul {
  list-style: none;
  text-decoration: none;
}

.nav__item :hover {
  text-decoration: underline;
}

.project .nav__link, .project .project__link {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav__link {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main__textbox {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;
}

.main__textbox p {
  width: 45%;
  text-align: justify;
}

.footer__information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (65px)[2];
      grid-template-rows: repeat(2, 65px);
}

.footer__logo {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.footer__adress {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.footer__email {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.footer__copyright {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 2;
  grid-row: 2;
}

/* aditional */
.main__headline-section,
.main__background,
.main__content-section,
.main__culture-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */