@import "variables.scss";
.headlines{
    font-family: $font_2;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: $color_white;
}

.main__headline--content{
    color: $headline_color;
}

.subheader{
    font-family: $font_1;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: $subheader_color;
}

.main__subheader--content{
    color: $subheader_content_color;  
}

.textbox{
    font-family: $font_1;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $color_black;
}