@import "variables.scss";
.main__logo{
    transform: perspective(100px) rotate(0deg);
    transition: all 0.5s;
    &:hover{
        transform: perspective(100px) rotateY(-180deg) scale(1.8);
    }
}


.main__button--read-more{
    transform: perspective(100px) rotate(0deg);
    transform-origin: left;
    transition: all 0.5s;
    &:hover{
        transform: perspective(100px) rotateZ(10deg);
    }
}


.main__button--play{
    transform: perspective(100px);
    transition: all 0.5s;
    &:hover{
        color: $button_hover_color;
        background: $color_white;
        transform: perspective(100px) scale(0.9);
    }
}

.main__background {
    position: absolute;
    background-position: right 0;
    width: 100%;
    height: 950px;
    margin: 0;
    background-size: cover;
}

.main__background--mooving-dots {
    background-image:url('Animation-image-block-2.svg');
    animation: moveDots 5s ease-in infinite;
}
.main__background--glowing-dots {
    background-image:url('Animation-image-block-1.svg');
     animation: glow 6s ease-in infinite;
}

@keyframes glow {
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes moveDots {
    0%   {
        transform: translateX(0) translateY(0);
    }
    50%  {
        transform: translateX(-30px) translateY(-10px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}







