.main__logo {
  -webkit-transform: perspective(100px) rotate(0deg);
          transform: perspective(100px) rotate(0deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main__logo:hover {
  -webkit-transform: perspective(100px) rotateY(-180deg) scale(1.8);
          transform: perspective(100px) rotateY(-180deg) scale(1.8);
}

.main__button--read-more {
  -webkit-transform: perspective(100px) rotate(0deg);
          transform: perspective(100px) rotate(0deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main__button--read-more:hover {
  -webkit-transform: perspective(100px) rotateZ(10deg);
          transform: perspective(100px) rotateZ(10deg);
}

.main__button--play {
  -webkit-transform: perspective(100px);
          transform: perspective(100px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main__button--play:hover {
  color: #39C2D7;
  background: #FFFFFF;
  -webkit-transform: perspective(100px) scale(0.9);
          transform: perspective(100px) scale(0.9);
}

.main__background {
  position: absolute;
  background-position: right 0;
  width: 100%;
  height: 950px;
  margin: 0;
  background-size: cover;
}

.main__background--mooving-dots {
  background-image: url("Animation-image-block-2.svg");
  -webkit-animation: moveDots 5s ease-in infinite;
          animation: moveDots 5s ease-in infinite;
}

.main__background--glowing-dots {
  background-image: url("Animation-image-block-1.svg");
  -webkit-animation: glow 6s ease-in infinite;
          animation: glow 6s ease-in infinite;
}

@-webkit-keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveDots {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: translateX(-30px) translateY(-10px);
            transform: translateX(-30px) translateY(-10px);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}

@keyframes moveDots {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  50% {
    -webkit-transform: translateX(-30px) translateY(-10px);
            transform: translateX(-30px) translateY(-10px);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}
/*# sourceMappingURL=transforms_and_transitions.css.map */