$font_1: 'Source Sans Pro';
$font_2: 'Oswald';

$color_white: #FFFFFF;
$footer_text_color: rgba(255, 255, 255, 0.4);
$color_black: #000000;
$headline_color: #464547;
$subheader_color:rgba(255, 255, 255, 0.7);
$subheader_content_color:#666666;
$button_hover_color: #39C2D7;